<!-- ko with: home -->
@using AutismHackScenario3.Models

<script type="text/javascript">

    function GetData() {

        $("#Score").empty();

    }

</script>

<div class="row">
    <div class="col-md-6">
        <h2>Score Predictor</h2>
        @model ScoreInputModel
        Age <p>@Html.TextBoxFor(m => m.Age, new { @class = "form-control" })</p>
        Days to Mastery <p>@Html.TextBoxFor(m => m.DaysToMastery, new { @class = "form-control" })</p>
        Skill Level <p>@Html.TextBoxFor(m => m.SkillLevel, new { @class = "form-control" })</p>
        Skill Ordinal <p>@Html.TextBoxFor(m => m.SkillOrdinal, new { @class = "form-control" })</p>
        Domain <p>@Html.TextBoxFor(m => m.Domain, new { @class = "form-control" })</p>
        Guardian Count <p>@Html.TextBoxFor(m => m.GuardianCount, new { @class = "form-control" })</p>
        <input type="button" value="Predict" onclick="GetData();" class="btn btn-primary" />

    </div>
    <div class="col-md-6" id="Score">
        <h2></h2>
    </div>


    @*<div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS, and JavaScript.
                It's now easier than ever before to getting started writing highly interactive web applications.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>

<!-- /ko -->
